<input type="hidden" name="idUser" id="idUser" value="{{ user.id }}">
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Nombre</span>
    </div>
    <input type="text" class="form-control" name="nameUser" id="nameUser" value="{{ user.nombre }}">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Apellido</span>
    </div>
    <input type="text" class="form-control" name="lastnameUser" id="lastnameUser" value="{{ user.apellido }}">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Usuario</span>
    </div>
    <input type="text" class="form-control" name="userUser" id="userUser" value="{{ user.usuario }}">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Password</span>
    </div>
    <input type="text" class="form-control" name="passwordUser" id="passwordUser" value="{{ user.password }}">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Telefono</span>
    </div>
    <input type="text" class="form-control" name="telephoneUser" id="telephoneUser" value="{{ user.telefono }}">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Email</span>
    </div>
    <input type="email" class="form-control" name="emailUser" id="emailUser" value="{{ user.email }}">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">¿Es admin?</span>
    </div>
    <select class="form-control" name="is_adminUser" id="is_adminUser">
      <option value="1" {% if user.is_admin == 1 %}selected{% endif %}>Sí</option>
      <option value="0" {% if user.is_admin != 1 %}selected{% endif %}>No</option>
    </select>
</div>