{% extends './base/base.html' %}
{% load static %}

{% block title %}Carrito - GuaAdis{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'productos/productos.css' %}">
{% endblock %}
{% block content %}
    <h1>Carrito de Productos</h1>
    {% if request.session.lista_carrito %}
    <div class="d-flex justify-content-center align-center flex-direction-row flex-wrap container-products w-100">
        {% for product in request.session.lista_carrito %}
            <!-- <li>{{ product.nombre }} - {{ product.descripcion }} - {{ product.precio }}</li> -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">{{product.nombre.title }}</h5>
                </div>
                <ul class="list-group list-group-flush bg-dark">
                    <li class="list-group-item bg-dark text-light text-right">Cantidad: {{ product.cantidad }}</li>
                </ul>
                <div class="card-body d-flex justify-content-center align-center container-actions">
                    <div id="delete_car_{{ forloop.counter0 }}" class="text-danger font-weight-bold delete_car">
                        Eliminar
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="container_btnBuy" class="col-12 d-flex py-5 justify-content-center align-items">
        <button type="button" class="btn btn-success" id="buyCar">Comprar</button>
    </div>
    {% endif %}
    <script src="{% static 'productos/product.js' %}"></script>
{% endblock %}