{% extends './base/base.html' %}
{% load static %}

{% block title %}Productos - GuaAdis{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'productos/productos.css' %}">
{% endblock %}
{% block content %}
    <h1>Productos - 
        <button id="goToProduct" type="button" class="btn btn-primary btn-sm">Crear registro</button>
    </h1>
    <div class="d-flex justify-content-center align-center flex-direction-row flex-wrap container-products w-100">
        {% for product in products %}
            <!-- <li>{{ product.nombre }} - {{ product.descripcion }} - {{ product.precio }}</li> -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">{{product.nombre.title }}</h5>
                  <p class="card-text">{{ product.descripcion.capitalize }}</p>
                </div>
                <ul class="list-group list-group-flush bg-dark">
                    <li class="list-group-item bg-dark text-light text-right">${{ product.precio }}</li>
                    <li class="list-group-item bg-dark text-light text-right">Cantidad: {{ product.inventario }}</li>
                </ul>
                <div class="card-body d-flex justify-content-center align-center container-actions">
                    <div id="edit_product_{{product.id}}" class="text-info font-weight-bold edit_product">
                        Editar
                    </div>
                    <div id="delete_product_{{product.id}}" class="text-danger font-weight-bold delete_product">
                        Eliminar
                    </div>
                </div>
              </div>
        {% endfor %}
    </div>
    
    <script src="{% static 'productos/product.js' %}"></script>
{% endblock %}